<div class="inner-swiper-container">
    <div class="swiper-wrapper">
        {% include 'view/popup/swiper-inner-wrapper.twig' %}
    </div>
</div>
<div class="swiper-button-prev inner-swiper-button-prev">
    <svg viewBox="0 0 20 20" fill="#ffffff">
        <path d="M14 5l-5 5 5 5-1 2-7-7 7-7z"/>
    </svg>
</div>
<div class="swiper-button-next inner-swiper-button-next">
    <svg viewBox="0 0 20 20" fill="#ffffff">
        <path d="M6 15l5-5-5-5 1-2 7 7-7 7z"/>
    </svg>
</div>